{% extends "@User/DashboardTemplate.html.twig" %}

 {% block maincontent %}
     <div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
         <!-- widget options:
         usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

         data-widget-colorbutton="false"
         data-widget-editbutton="false"
         data-widget-togglebutton="false"
         data-widget-deletebutton="false"
         data-widget-fullscreenbutton="false"
         data-widget-custombutton="false"
         data-widget-collapsed="true"
         data-widget-sortable="false"

         -->
         <header>
             <span class="widget-icon"> <i class="fa fa-table"></i> </span>
             <h2>Hide / Show Columns </h2>

         </header>

         <!-- widget div-->
         <div>

             <!-- widget edit box -->
             <div class="jarviswidget-editbox">
                 <!-- This area used as dropdown edit box -->

             </div>
             <!-- end widget edit box -->

             <!-- widget content -->
             <div class="widget-body no-padding">
                 <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                     เพิ่มพนักงาน
                 </button>
                 <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal">
                     ลบพนักงาน
                 </button>


                 <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%">
                     <thead>
                     <tr>
                         <th data-hide="phone">ID</th>
                         <th data-hide="phone">รหัสพนักงาน</th>

                         <th data-class="expand">ชื่อ</th>
                         <th data-hide="phone">นามสกุล</th>
                         <th data-hide="phone"></th>

                     </tr>
                     </thead>
                     <tbody>
                     {% for entity in entities %}
                     <tr>
                         <td>
                             {{ entity.id }}
                         </td>
                         <td>
                             {{ entity.empCode }}
                         </td>
                         <td>
                             {{ entity.name }}
                         </td>
                         <td>
                             {{ entity.lastname }}
                         </td>
                         <td>
                            edit
                         </td>

                     </tr>
                     {% endfor %}

                     </tbody>

                 </table>

             </div>
             <!-- end widget content -->

         </div>
         <!-- end widget div -->

     </div>
     </div>
     </div>
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">



          <article class="col-sm-12 col-md-12 col-lg-12">
          		<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Registration form </h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
					{{ form_start(form,{'name':'add_new', 'method': 'POST','attr': {'class': 'smart-form','novalidate':'novalidate'}}) }}


							<header>
								Order services
							</header>

							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-user"></i>
										{{ form_widget(form.name,{'attr': {'placeholder': 'Name'}}) }}
											<!--<input type="text" name="name" placeholder="Name">-->
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-briefcase"></i>
										{{ form_widget(form.lastname,{'attr': {'placeholder': 'Lastname'}}) }}
										</label>
									</section>
								</div>

								<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-briefcase"></i>
										{{ form_widget(form.empCode,{'attr': {'placeholder': 'employee code'}}) }}
										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-phone"></i>
											<input type="tel" name="phone" placeholder="Phone" data-mask="(999) 999-9999">
										</label>
									</section>
								</div>
							</fieldset>

							<fieldset>
								<div class="row">
									<section class="col col-6">
										<label class="select">
											<select name="interested">
												<option value="0" selected="" disabled="">Interested in</option>
												<option value="1">design</option>
												<option value="1">development</option>
												<option value="2">illustration</option>
												<option value="2">branding</option>
												<option value="3">video</option>
											</select> <i></i> </label>
									</section>
									<section class="col col-6">
										<label class="select">
											<select name="budget">
												<option value="0" selected="" disabled="">Budget</option>
												<option value="1">less than 5000$</option>
												<option value="2">5000$ - 10000$</option>
												<option value="3">10000$ - 20000$</option>
												<option value="4">more than 20000$</option>
											</select> <i></i> </label>
									</section>
								</div>

								<div class="row">
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-calendar"></i>
											{{ form_widget(form.created_at,{'attr': {'placeholder': 'Expected start date','name':'startdate'}}) }}

										</label>
									</section>
									<section class="col col-6">
										<label class="input"> <i class="icon-append fa fa-calendar"></i>


											{{ form_widget(form.modified_at) }}
										</label>
									</section>
								</div>

								<section>
									<div class="input input-file">
										<span class="button"><input id="file2" type="file" name="file2" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
									</div>
								</section>

								<section>
									<label class="textarea"> <i class="icon-append fa fa-comment"></i>
										<textarea rows="5" name="comment" placeholder="Tell us about your project"></textarea>
									</label>
								</section>
							</fieldset>
							<footer>
								<button type="submit" class="btn btn-primary">
									Validate Form
								</button>
							</footer>




					{{ form_end(form) }}

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>




		   </article>

                <!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->
     </div>
     <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">



                 <article class="col-sm-12 col-md-12 col-lg-12">
                     <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
                         <!-- widget options:
                             usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                             data-widget-colorbutton="false"
                             data-widget-editbutton="false"
                             data-widget-togglebutton="false"
                             data-widget-deletebutton="false"
                             data-widget-fullscreenbutton="false"
                             data-widget-custombutton="false"
                             data-widget-collapsed="true"
                             data-widget-sortable="false"

                         -->
                         <header>
                             <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                             <h2>Registration form </h2>

                         </header>

                         <!-- widget div-->
                         <div>

                             <!-- widget edit box -->
                             <div class="jarviswidget-editbox">
                                 <!-- This area used as dropdown edit box -->

                             </div>
                             <!-- end widget edit box -->

                             <!-- widget content -->
                             <div class="widget-body no-padding">
                                 {{ form_start(update_form,{'name':'add_new', 'method': 'POST','attr': {'class': 'smart-form','novalidate':'novalidate'}}) }}


                                 <header>
                                     Order services
                                 </header>

                                 <fieldset>
                                     <div class="row">
                                         <section class="col col-6">
                                             <label class="input"> <i class="icon-append fa fa-user"></i>
                                                 {{ form_widget(update_form.name,{'attr': {'placeholder': 'Name'}}) }}
                                             </label>
                                         </section>
                                         <section class="col col-6">
                                             <label class="input"> <i class="icon-append fa fa-briefcase"></i>
                                                 {{ form_widget(update_form.lastname,{'attr': {'placeholder': 'Lastname'}}) }}
                                             </label>
                                         </section>
                                     </div>

                                     <div class="row">
                                         <section class="col col-6">
                                             <label class="input"> <i class="icon-append fa fa-briefcase"></i>
                                                 {{ form_widget(update_form.empCode,{'attr': {'placeholder': 'employee code'}}) }}
                                             </label>
                                         </section>
                                         <section class="col col-6">
                                             <label class="input"> <i class="icon-append fa fa-phone"></i>
                                                 <input type="tel" name="phone" placeholder="Phone" data-mask="(999) 999-9999">
                                             </label>
                                         </section>
                                     </div>
                                 </fieldset>

                                 <fieldset>


                                     <div class="row">
                                         <section class="col col-6">
                                             <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                 {{ form_widget(update_form.created_at,{'attr': {'placeholder': 'Expected start date','name':'startdate'}}) }}

                                             </label>
                                         </section>
                                         <section class="col col-6">
                                             <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                 {{ form_widget(update_form.modified_at) }}
                                             </label>
                                         </section>
                                     </div>

                                     <section>
                                         <div class="input input-file">
                                             <span class="button"><input id="file2" type="file" name="file2" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
                                         </div>
                                     </section>

                                     <section>
                                         <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                             <textarea rows="5" name="comment" placeholder="Tell us about your project"></textarea>
                                         </label>
                                     </section>
                                 </fieldset>
                                 <footer>
                                     <button type="submit" class="btn btn-primary">
                                         Validate Form
                                     </button>
                                 </footer>




                                 {{ form_end(update_form) }}

                             </div>
                             <!-- end widget content -->

                         </div>
                         <!-- end widget div -->

                     </div>




                 </article>

                 <!-- /.modal-content -->
             </div><!-- /.modal-dialog -->
         </div><!-- /.modal -->
     </div>
 {% endblock %}


{% block javascripts %}

    <script data-pace-options='{ "restartOnRequestAfter": true }' src="{{ asset('HTML_Full_Version/js/plugin/pace/pace.min.js') }}"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    <script>
        if (!window.jQuery) {
            document.write('<script src="{{ asset('HTML_Full_Version/js/libs/jquery-2.1.1.min.js') }}"><\/script>');
        }
    </script>

    {#<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>#}
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="{{ asset('HTML_Full_Version/js/libs/jquery-ui-1.10.3.min.js') }}"><\/script>');
        }
    </script>


    {% javascripts
    '@UserBundle/Resources/public/assets/js/app.config.js'
    '@UserBundle/Resources/public/assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js'
    '@UserBundle/Resources/public/assets/js/bootstrap/bootstrap.min.js'
    '@UserBundle/Resources/public/assets/js/notification/SmartNotification.min.js'
    '@UserBundle/Resources/public/assets/js/smartwidgets/jarvis.widget.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/sparkline/jquery.sparkline.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/jquery-validate/jquery.validate.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/masked-input/jquery.maskedinput.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/select2/select2.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/msie-fix/jquery.mb.browser.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/fastclick/fastclick.min.js'
    '@UserBundle/Resources/public/assets/js/demo.min.js'
    '@UserBundle/Resources/public/assets/js/app.min.js'
    '@UserBundle/Resources/public/assets/js/speech/voicecommand.min.js'
    '@UserBundle/Resources/public/assets/js/smart-chat-ui/smart.chat.ui.min.js'
    '@UserBundle/Resources/public/assets/js/smart-chat-ui/smart.chat.manager.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/flot/jquery.flot.cust.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/flot/jquery.flot.resize.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/flot/jquery.flot.time.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/flot/jquery.flot.tooltip.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js'
    '@UserBundle/Resources/public/assets/js/plugin/moment/moment.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/fullcalendar/jquery.fullcalendar.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatables/jquery.dataTables.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatables/dataTables.colVis.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatables/dataTables.tableTools.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatables/dataTables.bootstrap.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatable-responsive/datatables.responsive.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/jquery-form/jquery-form.min.js'
    %}
    <script src= "{{ asset_url }}"> </script>
    {% endjavascripts %}











    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function() {

            pageSetUp();

            /* // DOM Position key index //

             l - Length changing (dropdown)
             f - Filtering input (search)
             t - The Table! (datatable)
             i - Information (records)
             p - Pagination (paging)
             r - pRocessing
             < and > - div elements
             <"#id" and > - div with an id
             <"class" and > - div with a class
             <"#id.class" and > - div with an id and class

             Also see: http://legacy.datatables.net/usage/features
             */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet : 1024,
                phone : 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
                "t"+
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth" : true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback" : function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback" : function(nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback" : function(oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
                "t"+
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth" : true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback" : function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback" : function(nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback" : function(oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {

                otable
                    .column( $(this).parent().index()+':visible' )
                    .search( this.value )
                    .draw();

            } );
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>"+
                "t"+
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth" : true,
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "preDrawCallback" : function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback" : function(nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback" : function(oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
                "t"+
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oLanguage": {
                    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                },
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        },
                        {
                            "sExtends": "print",
                            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                        }
                    ],
                    "sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth" : true,
                "preDrawCallback" : function() {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback" : function(nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback" : function(oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */


            $('#form_created_at').datepicker({
				dateFormat : 'dd-mm-yy',
				prevText : '<i class="fa fa-chevron-left"></i>',
				nextText : '<i class="fa fa-chevron-right"></i>',
				onSelect : function(selectedDate) {
					//$('#form_created_at').datepicker('option', 'minDate', selectedDate);
				}
			});

			$('#form_modified_at').datepicker({
				dateFormat : 'dd-mm-yy',
				prevText : '<i class="fa fa-chevron-left"></i>',
				nextText : '<i class="fa fa-chevron-right"></i>',
				onSelect : function(selectedDate) {
					//$('#form_modified_at').datepicker('option', 'maxDate', selectedDate);
				}
			});

        })

    </script>

    <!-- Your GOOGLE ANALYTICS CODE Below -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>


{% endblock %}