{% extends "@User/userExtension.html.twig" %}
{% block body %}

    <body class="animated fadeInDown">

    <header id="header">


        <div class="pull-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <!-- <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>-->
            {% endif %}
        </div>

        <div id="logo-group" class="center-block">
            <span id="logo" style="width:24px;height: 24px;  position:fixed;top:0;left:0;z-index:100;">
                 {% image '@UserBundle/Resources/public/assets/images/img/avatars/edit-intage_1024x1024.png' %}
                <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}


            </span>
        </div>


    </header>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div id="content" class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-md-offset-4">
                    <br><br>
                    <div class="well no-padding">
                        <center>
                            คุณเลยลงทะเบียนแลัว
                        </center>




                    </div>





                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-md-offset-4">
                    <a href="{{ path('fos_user_security_login') }}" class="pull-left"> กลับสู่หน้า login</a>

                    <a  class="pull-right" href="{{ path('fos_user_resetting_request') }}">ลืมรหัสผ่าน ?</a>
                </div>
            </div>
        </div>

    </div>

    <!--================================================== -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    {#<script src="js/plugin/pace/pace.min.js"></script>#}

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>');} </script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>

    <!-- IMPORTANT: APP CONFIG -->
    {#<script src="js/app.config.js"></script>#}

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

    {#<!-- BOOTSTRAP JS -->#}
    {#<script src="js/bootstrap/bootstrap.min.js"></script>#}

    {#<!-- JQUERY VALIDATE -->#}
    {#<script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>#}

    {#<!-- JQUERY MASKED INPUT -->#}
    {#<script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>#}

    <!--[if IE 8]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->

    <!-- MAIN APP JS FILE -->
    {#<script src="js/app.min.js"></script>#}

    <script type="text/javascript">

    </script>

    </body>

    <script data-pace-options='{ "restartOnRequestAfter": true }' src="{{ asset('HTML_Full_Version/js/plugin/pace/pace.min.js') }}"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
    <script>
        if (!window.jQuery) {
            document.write('<script src="{{ asset('HTML_Full_Version/js/libs/jquery-2.1.1.min.js') }}"><\/script>');
        }
    </script>

    {#<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>#}
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="{{ asset('HTML_Full_Version/js/libs/jquery-ui-1.10.3.min.js') }}"><\/script>');
        }
    </script>
    {% javascripts
    '@UserBundle/Resources/public/assets/js/app.config.js'
    '@UserBundle/Resources/public/assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js'
    '@UserBundle/Resources/public/assets/js/bootstrap/bootstrap.min.js'
    '@UserBundle/Resources/public/assets/js/notification/SmartNotification.min.js'
    '@UserBundle/Resources/public/assets/js/smartwidgets/jarvis.widget.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/sparkline/jquery.sparkline.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/jquery-validate/jquery.validate.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/masked-input/jquery.maskedinput.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/select2/select2.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/msie-fix/jquery.mb.browser.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/fastclick/fastclick.min.js'
    '@UserBundle/Resources/public/assets/js/demo.min.js'
    '@UserBundle/Resources/public/assets/js/app.min.js'
    '@UserBundle/Resources/public/assets/js/speech/voicecommand.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js'
    '@UserBundle/Resources/public/assets/js/plugin/moment/moment.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/fullcalendar/jquery.fullcalendar.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatables/jquery.dataTables.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatables/dataTables.colVis.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatables/dataTables.tableTools.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatables/dataTables.bootstrap.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/datatable-responsive/datatables.responsive.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/jquery-form/jquery-form.min.js'
    '@UserBundle/Resources/public/assets/js/plugin/jQuery-Autocomplete-master/src/jquery.autocomplete.js'
    '@UserBundle/Resources/public/assets/js/page.js'
    '@UserBundle/Resources/public/assets/js/form_unit.js'
    %}
    <script src= "{{ asset_url }}"> </script>
    {% endjavascripts %}






{% endblock %}